# Airflow 
airflow.db
airflow.cfg
logs/
airflow-scheduler.*
*.pid

# Python
**/.pycache
**/__pycache__

# VSCode
.vscode/

# Environment
venv/
.env

# Secrets
simple_auth_manager_passwords.json.generated

# Local files used in dev and not needed in the final version of project
**.json
